/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
    outline: black inset medium;
}

h1 {
    color: #333;
}

/* Estilos para os botões */
button.btn {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    padding: 15px 32px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de mão ao passar por cima */
    margin: 10px; /* Espaço entre os botões */
    transition: background-color 0.3s ease; /* Transição suave para mudar a cor de fundo */
}

/* Efeito quando o mouse passa sobre o botão */
button.btn:hover {
    background-color: #45a049; /* Cor de fundo mais escura quando passar o mouse */
}

#status_block {
    display: flex;
    justify-content: center;
}

#boiler_status{
    margin-left: 4px;
}

button.desligar {
    background-color: #e74c3c;
}
button.desligar:hover {
    background-color: #c61306;
}
/* Efeito quando o botão é pressionado */
button.btn:active {
    background-color: #3e8e41; /* Cor de fundo quando pressionado */
}

.linha {
    display: flex;
}

.centralizado {
    justify-content: center;
    align-items: center;
}

.timer{
    margin-top: 10px;
    font-size: 40px;
    font-family: monospace;
    width: 250px;
    outline: black inset medium;
    border-radius: 10px;
}

.fundo-timer{
    background-color: #ff9d9d;
    margin: 4px;
    padding: 2px;
}

.quadrado-legal{

}

.sombra{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.margem-top{
    margin-top: 20px;
}