<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boiler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Boiler Da Silva</h1>
    <p>Não precisamos mais de ALEXA. Aposentar já!!!</p>

    <!-- Botões estilizados -->
    <button id="ligar_boiler" class="btn">Ligar</button>
    <button id="desligar_boiler" class="btn desligar">Desligar</button>

    <div id="status_block">
        <div>
            O boiler está
        </div>
        <div id="boiler_status">
            Carregando...
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/gerenciar_boiler.js') }}"></script>
</body>
</html>
